* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
:root {
    --Color1: rgb(50 231 96);
    --Color2: rgb(5, 99, 29);
    --black: black;
    --BackgroundColor1:#ececec;
    --white: white;
    --padding-pages: 0px 0px 100px;
}
::selection {
    background-color: var(--Color2);
    color: var(--white);
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Roboto Slab', serif;
}
.contener {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
}
ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
a {
    text-decoration: none;
}
@media (min-width: 1350px) {
    .contener {
        width: 75%;
    }
}
@media (max-width:1350px) {
    .contener {
        width: 85%;
    }
}
@media (max-width: 991px) {
    .contener {
        width: 90%;
    }
}
@media (max-width: 420px) {
    .contener {
        width: 95%;
    }
}
@media (min-width: 1350px) {
    .backgroung-dots1 {
        position: absolute;
        background-image: url(../img/background/back.png);
        background-size: 13%;
        width: 200px;
        height: 200px;
        right: 5%;
        top: 17%;
    }
    .backgroung-dots2 {
        position: absolute;
        background-image: url(../img/background/back.png);
        background-size: 13%;
        width: 200px;
        height: 200px;
        left: 5%;
        bottom: 17%;
    }
}
.title-page {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0px;
}
.title-page .box {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border: solid 3px var(--Color2);
    z-index: 555;
}
.title-page .box:hover {
    animation-name: border-box-title;
    animation-duration: 0.3s;
    animation-delay: 0.4s;
    animation-fill-mode: forwards;
}
@keyframes border-box-title {
    0% {
        border: solid 3px var(--black);
    }
    100% {
        border: solid 3px var(--Color1)
    }
}
.title-page .box h1 {
    color: var(--Color2);
    padding: 15px 20px;
}
.title-page .box:hover h1 {
    animation-name: color-title-h1;
    animation-duration: 0.3s;
    animation-delay: 0.3s;
    animation-fill-mode: forwards;
}
@keyframes color-title-h1 {
    0% {
        color: var(--black);
    }
    100% {
        color: var(--white);
    }
}
.title-page .box::before {
    content: " ";
    position: absolute;
    left: -15%;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: var(--Color1);
    transition: 0.4s;
    z-index: -5;
}
.title-page .box:hover::before {
    left: -0%;
    animation-name: fill-title-before;
    animation-duration: 0.4s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
}
@keyframes fill-title-before {
    0% {
        height: 15px;
        width: 15px;
        border-radius: 50%;
    }
    100% {
        height: 100%;
        width: 51%;
        border-radius: 0%;
    }
}
.title-page .box::after {
    content: " ";
    position: absolute;
    right: -15%;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: var(--Color1);
    transition: 0.5s;
    z-index: -5;
}
.title-page .box:hover::after {
    right: -0%;
    animation-name: fill-title-after;
    animation-duration: 0.4s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
}
@keyframes fill-title-after {
    0% {
        height: 15px;
        width: 15px;
        border-radius: 50%;
    }
    100% {
        height: 100%;
        width: 51%;
        border-radius: 0%;
    }
}

/* الانميشن ذا سويه بكلاسين بدال البيفور والافتر عشان الرجوع يكون اسلس */


/* header section start */
.home-Page {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    position: relative;
    background-color: var(--BackgroundColor1);
    border-bottom-right-radius: 40%;
    border-top-left-radius: 40%;
}
header {
    width: 100%;
    background-color: var(--white);
    box-shadow: 0px -4px 8px;
}
header .contener {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .contener h1 {
    color: var(--Color1);
}
header .contener .nav {
    display: flex;
    align-items: center;
    justify-content: center;
}
header .nav > a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--Color2);
    height: 78px;
    padding: 0px 25px;
    font-size: 21px;
    position: relative;
    text-decoration: none;
    font-weight: 600;
}
header .contener .nav > a:hover {
    color: var(--Color1);
    z-index: 11;
}
header .nav > a::after {
    content: " ";
    position: absolute;
    width: 100%;
    left: 0%;
    bottom: -3%;
    height: 3px;
    background-color: var(--Color1);
    transition: 0.5s;
    transform: scale(0 , 1);
}
header .nav > a:hover::after {
    transform: scale(1 , 1);
}
header .nav > a::before {
    content: " ";
    position: absolute;
    width: 100%;
    left: 0%;
    height: 100%;
    background-color: var(--BackgroundColor1);
    transition: 0.5s;
    transform: scale(1 , 0);
    transform-origin: center;
    z-index: -11;
}
header .nav > a:hover::before {
    transform: scale(1 , 1);
}
header .nav .others {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 21px;
    height: 78px;
    padding: 0px 25px;
    font-weight: 600;

}
header .nav .others:hover {
    color: var(--Color1);
    z-index: 11;
}
header .nav .others::after {
    content: " ";
    position: absolute;
    width: 100%;
    left: 0%;
    bottom: -3%;
    height: 3px;
    background-color: var(--Color1);
    transition: 0.5s;
    transform: scale(0 , 1);
}
header .nav .others:hover::after {
    transform: scale(1 , 1);
}
header .nav .others::before {
    content: " ";
    position: absolute;
    width: 100%;
    left: 0%;
    bottom: 0%;
    height: 100%;
    background-color: var(--BackgroundColor1);
    transition: 0.5s;
    transform: scale(1 , 0);
    transform-origin: center;
    z-index: -11;
}
header .nav .others:hover::before {
    transform: scale(1 , 1);
}
header .nav .others-links {
    display: flex;
    position: absolute;
    top: 210%;
    right: -70%;
    background-color: var(--white);
    transition: 0.4s;
    opacity: -3;
    z-index: -999;
}
header .nav .others:hover .others-links {
    z-index: 999;
    opacity: 3;
    top: 101%;
}
header .nav .others .others-links ul {
    width: 220px;
    display: flex;
    margin: 0px 30px;
    flex-direction: column;
}
header .nav .others .others-links ul i{
    padding: 0px 15px 0px 5px;
}
header .nav .others .others-links ul a{
    text-decoration: none;
    position: relative;
    padding: 20px 0px;
    border-bottom: solid 1px;
    color: var(--Color1);
    font-size: 18px;
}
header .nav .others .others-links ul a:last-child {
    border: none;
}
header .nav .others .others-links ul a::before{
    content: " ";
    position: absolute;
    top: 0px;
    background-color: var(--BackgroundColor1);
    width: 100%;
    height: 60px;
    z-index: -1;
    transition: 0.4s;
    transform-origin: left;
    transform: scale(0 , 1);
}
header .nav .others .others-links ul a:hover::before{
    transform: scale(1 , 1);
}
@media (max-width: 1096px) {
    header .contener .nav .others-links img{
        display: none;
    }
    header .nav .others-links {
        right: 0%;
    }  
}
@media (max-width: 889px) {
    header .contener {
        height: 100px;
        flex-direction: column;
        justify-content: flex-end;
    }
    header .nav > a {
        height: 50px;
        padding: 0px 15px;
        font-size: 21px;
    }
    header .nav > a::before,
    header .nav > a::after,
    header .nav .others::before,
    header .nav .others::after {
        content: none;
    }
    header .nav .others{
        position: inherit;
        height: 50px;
        padding: 0px 15px;
    }
    header .nav .others-links {
        width: 100%;
    }
    header .nav .others .others-links ul {
        width: 50%;
        margin: 0px 15px;
    }
}
@media (max-width: 520px) {
    header .nav > a,
    header .nav .others {
        font-size: 16px;
        padding: 0px 7px;
    }
    header .nav .others-links {
        flex-direction: column;
    }
    header .nav .others .others-links ul {
        width: 94%;
        margin: 0px 15px;
    }
}
/* header section end */


/* intro section start */
.intro .contener { 
    margin-top: 200px;
}
.intro .contener { 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.welcome h1 {
    color: var(--Color1);
    font-size: 40px;
    padding-bottom: 20px;
}
.welcome p {
    color: var(--Color2);
    font-size: 25px;
    line-height: 2;
}
.intro img{ 
    width: 50%;
    animation-duration: 2s;
    animation-play-state: running;
    animation-name: intro-img;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    transform: translate(0px , 0px);
}
@keyframes intro-img {
    0% {
        transform: translate(0px , -30px);
    }
    100% {
        transform: translate(0px , 30px);
    }
}
@media (max-width: 991px) {
    .welcome {
        text-align: center;
    }
    .intro img {
        display: none;
    }
}
.next-page {
    width: fit-content;
    height: fit-content;
    position: absolute;
    bottom: 2%;
    color: var(--Color1);
    font-size: 0px;
    transition: 0.5s;
    animation-name: intro-next-button;
    animation-play-state: running;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
    animation-delay: 10s;
    animation-timing-function: ease-in-out;
}
@keyframes intro-next-button {
    0% {
        font-size: 0px;
    }
    100% {
        font-size: 33px;
    }
}
.home-Page .next-button {
    transform: translate(0px , 0px);
    animation-name: next-button;
    animation-play-state: running;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-duration: 1.5s;
    animation-delay: 10s;
}
@keyframes next-button {
    0% {
        transform: translate(0px , 0px);
    }
    20% {
        transform: translate(0px , 6px);
    }
    40% {
        transform: translate(0px , -6px);
    }
    60% {
        transform: translate(0px , 6px);
    }
    80% {
        transform: translate(0px , -6px);
    }
    100% {
        transform: translate(0px , 6px);
    }
}
/* intro section end */

/* Ai Show section start */
.Ai-Show-page {
    background-color: var(--white);
    padding: var(--padding-pages);
    position: relative;
}
.Ai-Show-page .Ai-Show {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px, 1fr));
    grid-gap: 20px;
}
.Ai-Show-page .Ai-Show .member {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    text-align: center;
    background-color: var(--white);
    padding: 15px;
    border: 1.5px var(--black) none;
    box-shadow: 0px 0px 10px -5px;
    transform: scale(1 , 1);
    transition: 0.4s;
}
.Ai-Show-page .Ai-Show .member:hover {
    transform: scale(1.05 , 1.05);
    box-shadow: 0px 0px 20px -5px;
}
.Ai-Show-page .Ai-Show img {
    width: 100px;
    border-radius: 50%;
    border: solid 4px var(--Color2);
}
.Ai-Show-page .member:hover img {
    animation: border-color .5s forwards;
}
@keyframes border-color {
    0% {        
        border: solid 4px var(--Color2);
    }
    100% {        
        border: solid 4px var(--Color1);
    }
}
.Ai-Show-page .Ai-Show h2 {
    padding: 15px;
}
.Ai-Show-page .Ai-Show .social a i {
    padding: 0px 10px;
    color: #2196f3;
    transition: .3s;
}
.Ai-Show-page .Ai-Show .social a:hover i {
    transform: scale(1.25);
}
.Ai-Show-page .Ai-Show .social a:first-child i {
    color: #f3218a;
}
.Ai-Show-page .Ai-Show p {
    padding: 15px 0px;
}
.Ai-Show-page .Ai-Show .rank i {
    color: #ffdc00;
}
/* animation cards  */
.Ai-Show .member::before {
    content: " ";
    position: absolute;
    left: 0%;
    background-color: var(--Color1);
    width: 3px;
    height: 100%;
    transform: scale(1 , 0);
    transform-origin: top;
    transition: 0.5s;
}
.Ai-Show .member:hover::before {
    transform: scale(1 , 1);
}
.Ai-Show .member::after {
    content: " ";
    position: absolute;
    right: 0%;
    background-color: var(--Color1);
    width: 3px;
    height: 100%;
    transform: scale(1 , 0);
    transform-origin: bottom;
    transition: 0.5s;
}
.Ai-Show .member:hover::after {
    transform: scale(1 , 1);
}
/* Ai Show section end */


/* youtube section start */
.youtube-page {
    background-color: var(--BackgroundColor1);
    padding: var(--padding-pages);
    position: relative;
}
.youtube {
    display: flex;
    flex-direction: column;
    gap: 100px;
}
.youtube .top-video {
    width: 100%;
    height: 75vh;
    display: flex;
    background-color: var(--white);
}
.top-video .side-bar {
    width: 25%;
    display: flex;
    flex-direction: column;
    padding: 2px 0 2px 2px;
    height: 100%;
    position: relative;
}
.top-video .side-bar h3 {
    position: relative;
    padding: 20px;
}
.top-video .side-bar h3 i {
    position: absolute;
    right: 5%;
}
.top-video .side-bar ul {
    width: 100%;
    overflow-y: scroll;
}
.top-video .side-bar ul a {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 17px;
    color: var(--Color2);
    border-bottom: solid 2px var(--BackgroundColor1);
}
.top-video .side-bar ul a::after {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--Color1);
    width: 4px;
    height: 100%;
    transition: 0.4s;
    transform: scale(1 , 0);
    transform-origin: center;
}
.top-video .side-bar ul a::before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--BackgroundColor1);
    width: 100%;
    height: 100%;
    transition: 0.4s;
    transform: scale(0 , 1);
    transform-origin: left;
}
.top-video .side-bar ul a:hover::before,
.top-video .side-bar ul a:hover::after {
    transform: scale(1 , 1);
}
.top-video .side-bar ul a > * {
    z-index: 1;
}
.top-video .side-bar ul a p {
    font-size: 18px;
    padding-bottom: 10px;
    transition: 0.4s;
}
.top-video .side-bar ul a:hover p {
    color: var(--Color1);
}
.top-video .side-bar ul a:hover span {
    color: var(--Color1);
}
.top-video .video {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}
.top-video .video img {
    max-width: 100%;
    padding-bottom: 50px;
}
.top-video .video p {
    display: block;
    background-color: var(--BackgroundColor1);
    padding: 20px;
}
@media (max-width: 991px) {
    .youtube .top-video {
        flex-direction: column;
        height: 90vh;
    }
    .top-video .side-bar {
        flex-direction: column;
        width: 100%;
        height: 300px;
    }
    .top-video .side-bar h3 i {
        right: 3%;
    }
    .top-video .video {
        width: 100%;
    }
    .top-video .side-bar ul {
        width: auto;
        height: fit-content;
        display: flex;
        flex-direction: column;
    }
    .top-video .side-bar ul a {
        padding: 10px 20px;
        justify-content: center;
    }
    .top-video .side-bar ul a p {
        font-size: 16px;
        padding-bottom: 10px;
        transition: 0.4s;
        width: 200px;
    }
}
/* channels section */
.channels-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    gap: 25px;
}
.channels-section .channel {
    display: flex;
    flex-basis: 30%;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
    background-color: var(--white);
    border-radius: 2%;
    padding: 20px;
}
@media (max-width: 1470px) {
    .channels-section .channel {
        flex-basis: 48%;
    }
}
@media (max-width: 991px) {
    .channels-section .channel {
        flex-basis: 70%;
    }
}
@media (max-width: 700px) {
    .channels-section .channel {
        flex-basis: 95%;
    }
}
.channels-section .channel img {
    width: 100px;
    position: absolute;
    top: -25px;
    right: -15px;
    border-radius: 50%;
    border: solid 10px var(--BackgroundColor1);
}
.channels-section .channel > a {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    background-color: transparent;
    color: transparent;
    position: absolute;
    top: -15px;
    right: -5px;
    border-radius: 50%;
    z-index: 2;
    font-weight: 600;
    font-size: 12px;
    transition: .3s;
}
.channels-section .channel > a:hover {
    background-color: #00000078;
    color: var(--white);
}
.channels-section .channel span,
.channels-section .channel p {
    color: var(--Color2);
}
.channels-section .channel h4,
.channels-section .channel h3{
    color: var(--Color1);
}
.channels-section .channel h4 {
    padding: 15px 0px;
}
.channels-section .channel span {
    padding-right: 10px;
}
.channels-section .rank {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding-bottom: 15px;
}
.channels-section .rank i {
    color: #ffdc00;
}
/* youtube section end */


/* animes section start */
.anime-page {
    background-color: var(--white);
    padding: var(--padding-pages);
    position: relative;
}
.animes {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    grid-gap: 20px;
    grid-row-gap: 30px;
}
.animes .anime {
    background-color: var(--white);
    overflow: hidden;
    border-radius: 1.5%;
    box-shadow: 0px 0px 4px 0px;
    transition: 0.3s;
}
.animes .anime:hover {
    transform: translate(0px , -10px);
}
.animes .anime img {
    max-width: 100%;
}
.animes .paragragh {
    padding: 15px;
}
.animes h3 {
    color: var(--Color2);
    font-size: 25px;
    padding-bottom: 15px;
}
.animes .anime:hover h3 {
    animation: change-color .5s forwards 0s alternate;
}
.animes .more {
    padding: 15px;
    position: relative;
    border-top: solid 1px var(--Color1);
}
.animes .more a , 
.animes .more i {
    transition: 0.4s;
    color: var(--Color2);
    text-decoration: none;
    font-size: 20px;
}
.animes .more i {
    position: absolute;
    right: 8%;
}
.anime:hover a {
    font-size: 21px;
    font-weight: bold;
    animation: change-color .5s forwards 0s alternate;
}
.anime:hover i {
    color: var(--Color1);
    position: absolute;
    font-size: 25px;
    animation-name: more;
    animation-duration: 0.6s;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}
@keyframes more {
    0% {
        right: 8%;
    }
    100% {
        right: 6%;
    }
}
@keyframes change-color {
    0% {
        color: var(--Color2);
    }
    100% {
        color: var(--Color1);
    }
}
/* animes section end */


/* gallery section start */
.gallery-page {
    background-color: var(--BackgroundColor1);
    padding: var(--padding-pages);
    position: relative;
}
.gallery {
    background-color: var(--BackgroundColor1);
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    grid-gap: 40px;
    position: relative;
}
.gallery .card {
    background-color: var(--white);
    border: solid 15px var(--white);
}
.gallery .card .image {
    position: relative;
    transition: 0.5s;
    overflow: hidden;
}
.gallery .card .image img {
    transition: 0.4s;
    max-width: 100%;
}
.gallery .card .image:hover img {
    transform: rotate(5deg) scale(1.1);

}
.gallery .card .image::before {
    content: " ";
    position: absolute;
    background-color: rgba(255, 255, 255, 0.2);
    width: 0px;
    height: 0px;
    transform: translate(-50% , -50%);
    z-index: 2;
    top: 50%;
    left: 50%;
    transition: 0.6s;
    opacity: 0;
}
.gallery .card .image:hover::before {
animation:  gallery-animation 0.6s;
}
@keyframes gallery-animation {
    0% , 40% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        width: 200%;
        height: 200%;
    }
}
/* gallery section end */

/* minmax(300px , 1fr) */

/* features section start */
.features-page {
    padding: var(--padding-pages);
    background-color: var(--white);
    position: relative;
}
.features-page .features {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.features .feature {
    max-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: solid 1px ;
}
.features .feature .bef-img {
    position: relative;
    overflow: hidden;
}
.features .feature .bef-img::after {
    content: " ";
    position: absolute;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: .5;
}
.features .feature .bef-img::before {
    content: " ";
    position: absolute;
    bottom: 0px;
    right: 0px;
    transition: .4s;
    border-style: solid;
    border-color: transparent transparent var(--white) transparent;
    border-width: 0px 0px 170px 500px;
    z-index: 1;
}
.features .feature:hover .bef-img::before {
    border-color: transparent transparent var(--white) transparent;
    border-width: 0px 500px 170px 0px;
    right: -10px;
}
.features .feature img {
    max-width: 100%;
    position: relative;
}
.features .feature h1 {
    padding: 30px 20px;
}
.features .feature p {
    padding: 20px;
}
.features .feature h2 {
    width: fit-content;
    background-color: transparent;
    padding: 10px 30px;
    border-radius: 10px;
    margin: 30px 0px;
    position: relative;
}
.features .feature h2::before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: .4s;
    transform: scale(0 , 1);
    transform-origin: left;
    z-index: -1;
}
.features .card1 h2::before {
    background-color: blue;
}
.features .card2 h2::before {
    background-color: red;
}
.features .card3 h2::before {
    background-color: orange;
}
.features .feature:hover h2::before,
.features .feature:hover h2 {
    color: var(--white);
    transform: scale(1 , 1);
}
.features .card1 .bef-img::after {
    background-color: blue;
}
.features .card1 h1,
.features .card1 h2 {
    color: blue;
}
.features .card1 h2 {
    border: 4px solid blue;
}

.features .card2 .bef-img::after {
    background-color: red;
}
.features .card2 h1,
.features .card2 h2 {
    color: red;
}
.features .card2 h2 {
    border: 4px solid red;
}

.features .card3 .bef-img::after {
    background-color: orange;
}
.features .card3 h1,
.features .card3 h2 {
    color: orange;
}
.features .card3 h2 {
    border: 4px solid orange;
}
/* features section end */


/* services section start */
.services-page {
    background-color: var(--BackgroundColor1);
    padding: var(--padding-pages);
    position: relative;
}
.services {
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(300px, 1fr));
    gap: 40px;
}
.service {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--white);
    counter-increment: no-service;
    box-shadow: 0px 0px 12px -5px;
    position: relative;
    transition: .5s;
}
.service:hover {
    transform: translate(0px , -12px);
}
.service::before {
    content: counter(no-service);
    position: absolute;
    bottom: 2%;
    left: 6%;
    color: var(--white);
    font-size: 40px;
    z-index: 1;
}
.service::after {
    content: " ";
    position: absolute;
    top: 0%;
    left: 0%;
    background-color: transparent;
    width: 100%;
    height: 98%;
    transition: .4s;
    transform-origin: center;
    transform: scale(0 , 1);
    border-color: rgb(50 231 96);
    border-style: solid;
    border-width: 3px 0px 4px 0px;
}
.service:hover:after {
    transform: scale(1 , 1);
}
.service i {
    color: var(--BackgroundColor1);
    font-size: 50px;
    padding-top: 40px;
}
.service h2 {
    color: var(--Color1);
    padding: 40px 0px;
}
.service .datails {
    width: 100%;
    height: 50px;
    position: relative;
}
.service .datails p {
    color: var(--Color1);
    position: absolute;
    right: 4%;
    bottom: 30%;
}
.service .datails::before {
    content: " ";
    position: absolute;
    background-color: transparent;
    width: 30%;
    border-style: solid;
    border-color: var(--BackgroundColor1) transparent transparent transparent;
    border-width: 50px 35px 0px 0px;
}
.service .datails::after {
    content: " ";
    position: absolute;
    background-color: transparent;
    width: 15%;
    border-style: solid;
    border-color: var(--Color1) transparent transparent transparent;
    border-width: 50px 35px 0px 0px;
}
/* services section end */


/* games section start */
.characters-page {
    padding: var(--padding-pages);
    background-color: var(--white);
    position: relative;
}
.characters {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    gap: 40px;
}
.character {
    width: 270px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: var(--BackgroundColor1);
    margin-left: 40px;
    border-radius: 15px;
}
.character::before {
    content: " ";
    background-color: #e2e2e2;
    position: absolute;
    right: 0%;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    transform-origin: right;
    transform: scale(0 , 1);
    transition: .4s;
}
.character:hover::before {
    transform: scale(1 , 1);
}
.character .image {
    position: absolute;
    overflow: hidden;
    top: 50px;
    width: 100%;
    left: -40px;
    border-radius: 15px;
    transition: .5s;
}
.character:hover .image {
    animation: change-filter .5s forwards 0s alternate;
}
@keyframes change-filter {
    0% {
        filter: grayscale(0%);
    }
    100% {
        filter: grayscale(100%);
    }
}
.character img {
    width: 100%;
}
.character .name {
    width: 85%;
    align-self: end;
    padding: 0px 0px 20px 20px;
    z-index: 1;
}
.character .name h2 {
    color: var(--Color1);
    padding-bottom: 10px;
}
.character .name p {
    color: var(--Color2);
    font-size: 19px;
}
.character .social {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
    margin: 43% 0px 57%;
    z-index: 1;
}
.character .social a i {
    color: #008cff;
}
.character .social a:last-child i {
    color: red;
}
/* games section end */


/* work section start */
.work-page {
    background-color: var(--BackgroundColor1);
    padding: var(--padding-pages);
    position: relative;
}
.work {
    display: flex;
    justify-content: center;
    align-items: center;
}
.work .backgroung {
    flex-basis: 50%;
}
.work .backgroung img {
    width: 80%;
    transform: translate(9%, 0%);
}
.work .content {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.work .content .cont {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    background-color: #f4f4f4;
    border: solid var(--white) 2px;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
}
.work .content .cont::before {
    content: " ";
    position: absolute;
    width: 0%;
    height: 0%;
    background-color: var(--BackgroundColor1);
    top: 50%;
    left: 50%;
    transform:translate(-50% , -50%) ;
    opacity: 0;
}
.work .content .cont:hover::before {
    animation:  gallery-animation 0.6s;
}
.work .content .image {
    padding: 30px;
    z-index: 1;
}
.work .content img {
    width: 70px;
}
.work .content .paragragh {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-right: 20px;
    z-index: 1;
}
.work .content .paragragh h3 {
    color: var(--Color2);
    padding-bottom: 15px;
    font-size: 23px;
}
.work .content .paragragh p {
    color: var(--Color2);
}
@media (max-width: 991px) {
    .work {
        flex-direction: column;
        gap: 50px;
    }
    .work .backgroung img {
        width: 100%;
        transform: translate(0%, 0%);
    }
}
@keyframes flash {
    0% , 40% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        width: 200%;
        height: 200%;
    }
}
/* work section end */


/* games section start */
.games-page {
    background-color: var(--white);
    padding: var(--padding-pages);
    position: relative;
}
.games {
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(300px , 1fr));
    gap: 25px;
}
.game {
    background-color: var(--white);
    box-shadow: 0px 0px 10px -5px;
}
.game img {
    width: 100%;
}
.game h2 {
    color: var(--Color1);
    padding: 20px 0px 20px 20px;
}
.game p {
    color: var(--Color2);
    padding: 0px 0px 20px 20px;
}
/* games section end */


/* pricing section start */
.pricing-page {
    background-color: var(--BackgroundColor1);
    padding: var(--padding-pages);
    position: relative;
}
.pricing {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit , minmax(300px , 1fr));
    gap: 35px;
}
@media (min-width:1159px) {
    .pricing .plan:nth-child(2) {
        transform: translate(0px , -20px);
    }
}
.plan {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--white);
    box-shadow: 0px 0px 10px -5px;
    position: relative;
}
.plan .head {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.plan .head h2 {
    color: var(--Color2);
    padding: 30px;
}
.plan .head i {
    color: var(--Color1);
    font-size: 65px;
    padding-bottom: 30px;
}
.plan .head h1 {
    color: var(--Color1);
    font-size: 65px;
}
.plan .head p {
    padding: 15px 0px;
}
.plan p {
    color: var(--Color2);
}
.plan .body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
.plan .body p {
    padding: 20px;
    border-top: solid 1px var(--BackgroundColor1);
}
.plan .body p::before {
    font-family: "Font Awesome 5 Free";
    content: "\f00c";
    font-weight: 900;
    color: var(--Color1);
    padding-right: 10px;
}
.plan h3 {
    color: var(--Color1);
    padding: 15px 25px;
    margin: 40px 0px;
    border: solid 2px var(--Color1);
    border-radius: 10px;
}
.plan h3:hover {
    animation: change-back .5s forwards 0s alternate;
}
@keyframes change-back {
    0% {
        background-color: var(--white);
        color: var(--Color1);
    }
    100% {
        background-color: var(--Color1);
        color: var(--white);
    }
}
.plan .Popular {
    position: absolute;
    top: 0px;
    right: 5%;
    height: 160px;
    border-color: var(--Color1) var(--Color1) transparent var(--Color1);
    border-width: 0px 25px 25px 25px;
    border-style: solid;
}
.plan .Popular::before {
    content: "Most Popular";
    position: absolute;
    width: 110px;
    color: white;
    font-weight: 600;
    transform: rotate(90deg) translate(0px, 54px);
    top: 44%;
}
/* pricing section end */


/* skills section start */
.skills-page {
    background-color: var(--white);
    padding: var(--padding-pages);
}
.skills {
   display: flex;
   justify-content: center;
   align-items: center;
}
.skills > * {
   width: 100%;
}
.skills img {
   width: 100%;
}
.levels .skill {
    display: flex;
    flex-direction: column;
    margin-bottom: 35px;
}
.skill h4 {
    width: 100%;
    padding-bottom: 10px;
}
.skill .level {
    width: 100%;
    height: 32px;
    background-color: var(--BackgroundColor1);
    border: solid 1px var(--Color2);
}
.skill .level .percentage {
    height: 30px;
    background-color: var(--Color1);
    position: relative;
}
.skill .level .percentage::before {
    content: attr(data-progress);
    position: absolute;
    color: var(--Color1);
    background-color: var(--white);
    border: solid 1px rgb(50 231 96);
    border-radius: 3px;
    font-size: 13px;
    font-weight: 600;
    padding: 5px;
    right: -16px;
    top: -35px;
}
.skill .level .percentage::after {
    content: " ";
    position: absolute;
    background-color: transparent;
    border-style: solid;
    border-color: var(--Color1) transparent transparent transparent;
    border-width: 7px;
    right: -6px;
    top: -9px;
}
@media (max-width: 991px) {
    .skills {
        flex-direction: column;
    }
    .skills > * {
        width: 80%;
     }
}
@media (max-width: 500px) {
    .skills > * {
        width: 100%;
    }
}
/* skills section end */


/* events section end */
.events-page {
    background-color: var(--BackgroundColor1);
    padding: var(--padding-pages);
    position: relative;
}
.events {
    display: flex;
    align-items: center;
    justify-content: center;
}
.events > * {
    width: 100%;
    z-index: 1;
}
.events img {
    width: 100%;
}
.events .info {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.events .time {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 40px;
}
.events .time .t {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid 1px var(--Color2);
    border-radius: 5px;
    background-color: var(--white);
}
.events .time .t span {
    padding: 20px;
    color: var(--Color1);
    font-size: 40px;
    font-weight: 900;
}
.events .time .t p {
    width: 100%;
    color: var(--Color2);
    padding: 10px 0px;
    font-weight: 600;
    border-top: solid 1px var(--Color2);
}
@media (max-width: 500px) {
    .events .time .t span {
        padding: 10px;
        font-size: 30px;
    }
    .events .time .t p {
        font-size: 13px;
    }
}
.events .info .text {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.events .text h1 {
    color: var(--Color1);
    padding-bottom: 30px;
}
.events .text p {
    color: var(--Color2);
    line-height: 2;
    font-size: 20px;
}
.subscribe {
    width: 750px;
    display: flex;
    justify-content: space-between;
    background-color: var(--white);
    padding: 30px;
    margin: 80px auto 0px auto;
    border-radius: 50px;
}
.subscribe input:first-child {
    width: 100%;
    background-color: var(--BackgroundColor1);
    padding: 20px;
    border: none;
    border-radius: 25px;
}
.subscribe input:first-child::placeholder,
.subscribe input:first-child:focus-visible {
    color: var(--Color1);
    font-weight: 600;
    outline: none;
}
.subscribe input:last-child {
    margin-left: 25px;
    padding: 20px;
    border: none;
    border-radius: 25px;
    color: var(--white);
    font-weight: 600;
    background-color: var(--Color1);
}
@media (max-width: 991px) {
    .events {
        flex-direction: column;
    }
    .subscribe {
        width: 90%;
    }
}
@media (max-width: 640px) {
    .subscribe {
        width: 100%;
        flex-direction: column;
        border-radius: 0%;
    }
    .subscribe input:first-child {
        border-radius: 0%;
    }
    .subscribe input:last-child {
        margin: 0px;
        border-radius: 0%;
    }
}
/* events section end */


/* Stats section end */
.stats-page {
    padding: var(--padding-pages);
    position: relative;
}
.stats-page .background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../img/background-stats.jpg);
    background-size: cover;
    z-index: -1;
    opacity: .3;
}
.stats {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.stats h1 {
    color: black;
    padding: 100px 0px 40px;
}
.stats .content {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(280px , 1fr));
    gap: 20px;
}
.stats .content .stat {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 9px -5px;
    background-color: var(--white);
    position: relative;
    transition: .5s;
}
.stats .content .stat:hover {
    transform: translate(0px, -10px);
}
.stats .content .stat::before {
    content: " ";
    position: absolute;
    width: 99%;
    height: 100%;
    background-color: transparent;
    border-right: var(--Color1) 2px solid;
    border-left: var(--Color1) 2px solid;
    transition: .5s;
    transform-origin: center;
    transform: scale(1 , 0);
}
.stats .content .stat::after {
    content: " ";
    position: absolute;
    width: 100%;
    height: 98.5%;
    background-color: transparent;
    border-top: var(--Color1) 2px solid;
    border-bottom: var(--Color1) 2px solid;
    transition: .5s;
    transform-origin: center;
    transform: scale(0 , 1);
}
.stats .content .stat:hover:before,
.stats .content .stat:hover::after {
    transform: scale(1 , 1);
}
.stats .content .stat i {
    color: var(--black);
    padding-top: 25px;
    font-size: 45px;
}
.stats .content .stat span {
    font-size: 60px;
    font-weight: 900;
    padding: 25px;
}
.stats .content .stat p {
    color: var(--Color1);
    padding-bottom: 25px;
    font-weight: 600;
    font-size: 20px;
    font-style: italic;
}
/* Stats section end */


/* Request A Discount section end */
.request-page {
    background-color: var(--white);
    padding: var(--padding-pages);
    display: flex;
    flex-direction: row;
}
.request-page .content {
    height: 100vh;
}
.discount {
    width: 100%;
    background-color: var(--Color1);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    padding-top: 50px;
}
.discount .change-background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../img/math.png);
    opacity: .05;
    animation: change-background 5s forwards 0s infinite alternate;
}
@keyframes change-background {
    0% {
        background-image: url(../img/discount-back.jpg);
    }
    50% {
        background-image: url(../img/math.png);
    }
    100% {
        background-image: url(../img/discount-back2.jpg);
    }
}
.discount .content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    z-index: 1;
    height: 100%;
}
.discount .content h1,
.discount .content p {
    color: var(--white);
    padding: 0px 20% 30px;
}
.discount .content p {
    font-size: 19px;
    line-height: 1.5;
}
.discount .content img {
    width: 400px;
    padding-top: 50px;
}
.request {
    width: 100%;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
}
.request .content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.request .content h1 {
    color: var(--Color1);
    padding: 40px;
}
.request input {
    margin-bottom: 30px;
    padding-bottom: 30px;
    width: 100%;
}
.request input:last-child {
    display: flex;
    justify-content: center;
    color: var(--Color1);
    background-color: var(--BackgroundColor1);
    padding: 15px 50%;
    font-size: 22px;
    font-weight: 600;
    margin-top: 25px;
}
.request input:last-child:hover {
    animation: color-change .5s forwards 0s alternate;
}
@keyframes color-change {
    0% {
        color: var(--Color1);
        background-color: var(--BackgroundColor1);
    }
    100% {
        color: var(--white);
        background-color: var(--Color1);
    }
}
.request textarea {
    width: 100%;
    height: 200px;
}
.request input,
.request textarea {
    background-color: var(--BackgroundColor1);
    border: none;
    border-bottom: solid var(--Color1) 2px;
    padding: 10px;
}
.request input:focus-visible,
.request textarea:focus-visible {
    outline: none;
}
@media (max-width: 991px) {
    .request-page {
        flex-direction: column;
    }
    .request .content h1 {
        padding: 40px 10px;
    }
    .request .content {
        width: 70%;
    }
}
@media (max-width: 500px) {
    .request .content {
        width: 90%;
    }
    .request .content h1 {
        font-size: 28px;
    }
    .discount .content img {
        width: 300px;
    }
    .discount .content h1,
    .discount .content p {
    padding: 0px 5% 30px;
    }
}
/* Request A Discount section end */


/* footer section end */
footer {
    background-color: var(--black);
    padding: 50px 0px;
    border: solid var(--white) 1px;
}
.footer-content {
    display: grid;
    grid-template-columns: repeat(auto-fit , 300px);
    justify-content: center;
    gap: 20px;
    margin: 0px 15px;
}
footer .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
footer .content h1 {
    color: var(--white);
}
footer .content .social {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 0px;
    gap: 30px;
}
footer .content .social i {
    color: var(--white);
    padding: 15px;
    background-color: var(--Color1);
    transition: .5s;
}
footer .content .social i:not(:nth-child(2)):hover {
    color:#2196f3;
    background-color: var(--white);
}
footer .content .social i:nth-child(2):hover {
    color: red;
    background-color: var(--white);
}
footer .content p {
    color: var(--white);
    line-height: 1.5;
}
footer .content a > * {
    display: inline-block;
    padding: 15px;
    color: var(--white);
    transition: .5s;
}
footer .content a i {
    color: var(--Color1);
    padding-right: 5px;
}
footer .content a:not(:last-child){
    border-bottom: var(--white) solid 1px;
}
footer .content a:hover > * {
    transform: translate(10px , 0px);
}
footer .content .con {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}
footer .content .con .text {
    display: flex;
    flex-direction: column;
}
footer .content .con i {
    margin: 0px 15px;
    color: var(--white);
    font-size: 29px;
    transition: .5s;
}
footer .content .con:hover i {
    color: var(--Color1);
    transform: scale(1.2);
}
footer .content .con span {
    color: var(--white);
}
footer .content:last-child {
    width: 100%;
    width: fit-content;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}
footer .content .gall img {
    width: 80px;
    border: solid var(--white) 4px;
}
.end {
    background-color: var(--black);
    padding: 40px 10px;
    border: solid var(--white) 1px;
    text-align: center;
}
.end p {
    color: var(--white);
}
/* footer section end */